USE [HotelReservierung]
GO
/****** Object:  User [HotelBenutzer]    Script Date: 23.03.2023 15:24:33 ******/
CREATE USER [HotelBenutzer] FOR LOGIN [HotelUser1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Check_Anzahl_Zimmer]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE   FUNCTION [dbo].[sf_Check_Anzahl_Zimmer]
(
	-- Add the parameters for the function here
	@Anz_Pers int,
	@Anz_Zim int,
	@ZimmerTypID int
)
RETURNS BIT
AS
BEGIN
	-- Add the T-SQL statements to compute the return value here
	DECLARE @Check BIT;
	DECLARE @Anz_Pers_Zim int;
	SET @Anz_Pers_Zim = (
		SELECT AnzahlPerson
		FROM [dbo].[tb_ZimmerTyp]
		WHERE [dbo].[tb_ZimmerTyp].[ZimmerTypID]= @ZimmerTypID
	)
	SET @Check= (
		CASE
		WHEN @Anz_Pers_Zim*@Anz_Zim >= @Anz_Pers THEN 1
		ELSE 0
		END
	)
	RETURN @Check
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Check_Zimmer_frei]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Alexander,,Kramer>
-- Create date: <21.03.2023,,>
-- Description:	<Description,,>
-- =============================================
CREATE   FUNCTION [dbo].[sf_Check_Zimmer_frei]
(
	@check_in datetime,
	@check_out datetime,
	@Anzahl_Zimmer int,
	@TypName NVARCHAR(50)
)
RETURNS BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- SET NOCOUNT ON;

    -- Insert statements for procedure here	
	
	DECLARE @freieZimmer int;
	SET @freieZimmer = (
		SELECT COUNT(ZimmerID)
		FROM [dbo].[tf_All_free_rooms_ofType_von_bis_days](
			@check_in,
			@check_out,
			TRIM(@TypName)
		)
	)
	DECLARE @ValidRequest bit;
	SET @ValidRequest= (
	CASE
		WHEN @freieZimmer >= @Anzahl_Zimmer THEN 1
		ELSE 0
	END
	)

	--RETURN @ValidRequest
	RETURN @ValidRequest
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_date_overlap]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE   FUNCTION [dbo].[sf_date_overlap]
(
	-- Add the parameters for the function here
	@check_in1 date,
	@check_out1 date,
	@check_in2 date,
	@check_out2 date
)
RETURNS Bit
AS
BEGIN
	-- Add the T-SQL statements to compute the return value here
	DECLARE @overlap Bit;
	SET @overlap= (
		CASE
			WHEN @check_out2 <= @check_in1 THEN 0
			WHEN @check_in2 >= @check_out1 THEN 0			
			ELSE 1
		END
	)
	RETURN @overlap
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_GetAge]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Thao Nguyen
-- Create date: 22.03.2023
-- Description:	diese Funktion berechnet Alter
-- =============================================
CREATE   FUNCTION [dbo].[sf_GetAge] 
(
	@GebDat date
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Age int;
	DECLARE @Heute date;
	SET @Heute = GETDATE();
		
	IF (MONTH(@GebDat) > MONTH(@Heute)) -- Geburtsmonat erst später
		SET @Age = DATEDIFF(YEAR, @GebDat, @Heute) - 1 -- ist noch nich so alt
	ELSE IF (MONTH(@GebDat) = MONTH(@Heute) AND DAY(@GebDat) > DAY(@Heute))
		SET @Age = DATEDIFF(YEAR, @GebDat, @Heute) - 1 -- ist noch nich so alt
	ELSE SET @Age = DATEDIFF(YEAR, @GebDat, @Heute);

	-- Return the result of the function
	RETURN @Age;

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_IstKundenExistiert]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Thao Nguyen>
-- Create date: <21.03.2023>
-- Description:	<Check Kunden Exsiert im tb_Kunden>
-- =============================================
CREATE    FUNCTION [dbo].[sf_IstKundenExistiert] 
(
	-- Add the parameters for the function here
	@Vorname NVARCHAR(50),
	@Nachname NVARCHAR(50),
	@AusweisID NVARCHAR(50),
	--@Gender bit,
	--@Ort	NVARCHAR(50),
	--@PLZ	CHAR(5),
	--@Land	NVARCHAR(50),
	--@Strasse	NVARCHAR(50),
	--@Hausnr		NVARCHAR(50),
	--@Telefone	NVARCHAR(50),
	--@Email	NVARCHAR(50),
	@GebDat	DATE
	--@Kommentar nvarchar(MAX)
)
RETURNS bit
AS
BEGIN
	DECLARE @Ergebnis bit;
	SET @Ergebnis =  (select COUNT(*)
		from tb_Kunden
		where (tb_Kunden.Vorname = @Vorname) AND (tb_Kunden.Nachname = @Nachname) AND (tb_Kunden.AusweisID = @AusweisID) AND (tb_Kunden.GebDat = @GebDat))
	
	-- Return the result of the function
	RETURN @Ergebnis;

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Kosten_Bestellung_Reservierung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE   FUNCTION [dbo].[sf_Kosten_Bestellung_Reservierung]
(
	-- Add the parameters for the function here
	@ReservierenID int
)
RETURNS money
AS
BEGIN
	-- Add the T-SQL statements to compute the return value here
	DECLARE @Kosten money;
	SET @Kosten= (
		SELECT 
			SUM(-1*[dbo].[tb_Artikel].[Kosten]*[dbo].[tb_Artikel_Bestellung].[Menge]) as 'Kosten'
			FROM 
				[dbo].[tb_Reservierung]
			INNER JOIN [dbo].[tb_Bestellung]
			ON [dbo].[tb_Reservierung].[ReservierenID]= [dbo].[tb_Bestellung].[ReservierenID] AND
				[dbo].[tb_Reservierung].[ReservierenID]=@ReservierenID
			INNER JOIN [dbo].[tb_Artikel_Bestellung]
			ON [dbo].[tb_Bestellung].[BestellungID] =  [dbo].[tb_Artikel_Bestellung].[BestellungID]
			INNER JOIN [dbo].[tb_Artikel]
			ON [dbo].[tb_Artikel_Bestellung].[ArtikelID]= [dbo].[tb_Artikel].[ArtikelID]
		GROUP BY [dbo].[tb_Reservierung].[ReservierenID]
	)
	IF @Kosten is NULL
		SET @Kosten =0;
	RETURN @Kosten
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Kosten_Reservierung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE   FUNCTION [dbo].[sf_Kosten_Reservierung]
(
	-- Add the parameters for the function here
	@ReservierenID int
)
RETURNS money
AS
BEGIN
	

	-- Add the T-SQL statements to compute the return value here
	DECLARE @Kosten money;
	
	SET @Kosten= (SELECT 
			--[dbo].[tb_Reservierung].[ReservierenID],
			--MAX(datediff(DAY ,[dbo].[tb_Reservierung].[CheckIn], [dbo].[tb_Reservierung].[CheckOut])) as 'Tage',
			SUM(-1*[dbo].[tb_ZimmerTyp].[Kosten])*MAX(datediff(DAY ,[dbo].[tb_Reservierung].[CheckIn], [dbo].[tb_Reservierung].[CheckOut])) as 'Kosten'
			FROM 
				[dbo].[tb_Reservierung]
			INNER JOIN [dbo].[tb_Reservieren_Zimmer]
			ON [dbo].[tb_Reservierung].[ReservierenID]= [dbo].[tb_Reservieren_Zimmer].[ReservierenID] AND
			   [dbo].[tb_Reservierung].[ReservierenID]=@ReservierenID
		
			INNER JOIN [dbo].[tb_Zimmer]
			ON [dbo].[tb_Zimmer].[ZimmerID] =  [dbo].[tb_Reservieren_Zimmer].[ZimmerID]
			INNER JOIN [dbo].[tb_ZimmerTyp]
			ON [dbo].[tb_ZimmerTyp].[ZimmerTypID]= [dbo].[tb_Zimmer].[ZimmerTypID]
	GROUP BY [dbo].[tb_Reservierung].[ReservierenID])
	IF @Kosten is NULL
		SET @Kosten =0;
	RETURN @Kosten

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_reservierungs_status]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE   FUNCTION [dbo].[sf_reservierungs_status] 
(
	@check_in datetime,
	@check_out datetime
)
RETURNS nvarchar(20)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @status nvarchar(20)=
	(CASE
		WHEN CAST(GETDATE() AS DATE) BETWEEN CAST(@check_in AS DATE) AND CAST(@check_out AS DATE) THEN 'aktuell'
		WHEN CAST(GETDATE() AS DATE) < CAST(@check_in AS DATE)  THEN 'zukünftig'
		WHEN CAST(GETDATE() AS DATE) > CAST(@check_out AS DATE) THEN 'abgeschlossen'
	END
	);

	RETURN @status

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Saldo_Reservierung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE   FUNCTION [dbo].[sf_Saldo_Reservierung]
(
	-- Add the parameters for the function here
	@ReservierenID int
)
RETURNS money
AS
BEGIN
	-- Add the T-SQL statements to compute the return value here
	DECLARE @Saldo money;
	SET @Saldo= dbo.sf_Kosten_Reservierung(@ReservierenID) + 
				dbo.sf_Kosten_Bestellung_Reservierung(@ReservierenID) +
				[dbo].[sf_Zahlungen_Reservierung](@ReservierenID)
	RETURN @Saldo
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Zahlungen_Reservierung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE    FUNCTION [dbo].[sf_Zahlungen_Reservierung]
(
	-- Add the parameters for the function here
	@ReservierenID int
)
RETURNS money
AS
BEGIN
	-- Add the T-SQL statements to compute the return value here
	DECLARE @Zahlungen money;
	SET @Zahlungen= (SELECT 
			SUM([dbo].[tb_Zahlung].[Betrag]) AS 'Zahlungen'
			FROM 
				[dbo].[tb_Reservierung]
			INNER JOIN [dbo].[tb_Zahlung]
			ON [dbo].[tb_Reservierung].[ReservierenID]= [dbo].[tb_Zahlung].[ReservierenID] AND
			   [dbo].[tb_Reservierung].[ReservierenID]=@ReservierenID
		
	GROUP BY [dbo].[tb_Reservierung].[ReservierenID])
	IF @Zahlungen is NULL
		SET @Zahlungen =0;
	RETURN @Zahlungen
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Zeitstempel]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Thao Nguyen>
-- Create date: <22.03.2023>
-- Description:	<Diese Funktion generiert so was: 20231003-105151150>
-- =============================================
CREATE   FUNCTION [dbo].[sf_Zeitstempel] 
(
	
)
RETURNS Char(18)
AS
BEGIN

	RETURN FORMAT(Getdate(),'yyyyMMdd-HHmm')

END
GO
/****** Object:  Table [dbo].[tb_ZimmerTyp]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ZimmerTyp](
	[ZimmerTypID] [int] IDENTITY(1,1) NOT NULL,
	[TypName] [nvarchar](50) NOT NULL,
	[Kosten] [float] NOT NULL,
	[AnzahlPerson] [smallint] NOT NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_ZimmerTyp] PRIMARY KEY CLUSTERED 
(
	[ZimmerTypID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Reservierung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Reservierung](
	[ReservierenID] [int] IDENTITY(1,1) NOT NULL,
	[ZimmerTypID] [int] NOT NULL,
	[KundenID] [int] NOT NULL,
	[PersonalID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[BezahlungStatus] [bit] NULL,
	[AnzahlPerson] [smallint] NOT NULL,
	[AnzahlZimmer] [smallint] NOT NULL,
	[CheckIn] [datetime] NULL,
	[CheckOut] [datetime] NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_Reservierung] PRIMARY KEY CLUSTERED 
(
	[ReservierenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Reservieren_Zimmer]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Reservieren_Zimmer](
	[ReservierenID] [int] NOT NULL,
	[ZimmerID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Zahlung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Zahlung](
	[ZahlungID] [int] IDENTITY(1,1) NOT NULL,
	[ReservierenID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Betrag] [money] NOT NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_Zahlung] PRIMARY KEY CLUSTERED 
(
	[ZahlungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Kunden]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Kunden](
	[KundenID] [int] IDENTITY(1,1) NOT NULL,
	[KundenNr] [int] NOT NULL,
	[Vorname] [nvarchar](50) NOT NULL,
	[Nachname] [nvarchar](50) NOT NULL,
	[AusweisID] [varchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Ort] [nvarchar](50) NULL,
	[PLZ] [char](5) NULL,
	[Land] [nvarchar](50) NULL,
	[Strasse] [nvarchar](50) NULL,
	[Hausnr] [nvarchar](10) NULL,
	[Telefone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[GebDat] [date] NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_Kunden] PRIMARY KEY CLUSTERED 
(
	[KundenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ab_zahlung_reservierung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Datum der Zahlung und verbleibende Summe zeigen*/
CREATE VIEW [dbo].[ab_zahlung_reservierung]
AS
SELECT        TOP (100) PERCENT dbo.tb_Kunden.KundenNr, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Zahlung.Datum, dbo.tb_Reservierung.ReservierenID, dbo.tb_Reservierung.AnzahlZimmer, 
                         dbo.tb_ZimmerTyp.TypName, dbo.sf_Kosten_Bestellung_Reservierung(dbo.tb_Reservierung.ReservierenID) AS BestellungsKosten, dbo.sf_Kosten_Reservierung(dbo.tb_Reservierung.ReservierenID) AS ZimmerKosten, 
                         dbo.sf_Zahlungen_Reservierung(dbo.tb_Reservierung.ReservierenID) AS Zahlungen, dbo.sf_Saldo_Reservierung(dbo.tb_Reservierung.ReservierenID) AS Saldo
FROM            dbo.tb_Kunden INNER JOIN
                         dbo.tb_Reservierung ON dbo.tb_Kunden.KundenID = dbo.tb_Reservierung.KundenID INNER JOIN
                         dbo.tb_ZimmerTyp ON dbo.tb_Reservierung.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID INNER JOIN
                         dbo.tb_Reservieren_Zimmer ON dbo.tb_Reservierung.ReservierenID = dbo.tb_Reservieren_Zimmer.ReservierenID LEFT OUTER JOIN
                         dbo.tb_Zahlung ON dbo.tb_Reservierung.ReservierenID = dbo.tb_Zahlung.ReservierenID
ORDER BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname
GO
/****** Object:  Table [dbo].[tb_Artikel]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Artikel](
	[ArtikelID] [int] IDENTITY(1,1) NOT NULL,
	[ArtikelTyp] [nchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Detail] [nvarchar](50) NULL,
	[Kosten] [money] NOT NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_Artikel] PRIMARY KEY CLUSTERED 
(
	[ArtikelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Artikel_Bestellung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Artikel_Bestellung](
	[ArtikelID] [int] NOT NULL,
	[BestellungID] [int] NOT NULL,
	[Menge] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Bestellung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Bestellung](
	[BestellungID] [int] IDENTITY(1,1) NOT NULL,
	[ReservierenID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_Bestellung] PRIMARY KEY CLUSTERED 
(
	[BestellungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ab_bestellungen_pro_tag]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bestellungen inklusive Details pro Tag für jede Reservierung zeigen

CREATE   VIEW [dbo].[ab_bestellungen_pro_tag]
AS
SELECT        TOP (100) PERCENT dbo.tb_Kunden.KundenNr, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Bestellung.ReservierenID, dbo.tb_Bestellung.Datum, dbo.tb_Artikel_Bestellung.BestellungID, dbo.tb_Artikel.Name, 
                         dbo.tb_Artikel_Bestellung.Menge, dbo.tb_Artikel.Kosten AS ArtikelKosten
FROM            dbo.tb_Reservierung INNER JOIN
                         dbo.tb_Bestellung ON dbo.tb_Reservierung.ReservierenID = dbo.tb_Bestellung.ReservierenID INNER JOIN
                         dbo.tb_Artikel_Bestellung ON dbo.tb_Bestellung.BestellungID = dbo.tb_Artikel_Bestellung.BestellungID INNER JOIN
                         dbo.tb_Artikel ON dbo.tb_Artikel_Bestellung.ArtikelID = dbo.tb_Artikel.ArtikelID INNER JOIN
                         dbo.tb_Kunden ON dbo.tb_Reservierung.KundenID = dbo.tb_Kunden.KundenID
GROUP BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Bestellung.ReservierenID, dbo.tb_Bestellung.Datum, dbo.tb_Artikel_Bestellung.BestellungID, dbo.tb_Artikel_Bestellung.Menge, dbo.tb_Artikel.Name, 
                         dbo.tb_Artikel.Kosten, dbo.tb_Kunden.KundenNr
ORDER BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Bestellung.Datum DESC
GO
/****** Object:  View [dbo].[ab_summe_kosten_bestellung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Summe von jeder Bestellung am bestimmten Datum für jede Reservierung zeigen

CREATE   VIEW [dbo].[ab_summe_kosten_bestellung]
AS
SELECT        TOP (100) PERCENT dbo.tb_Kunden.KundenNr, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Bestellung.ReservierenID, SUM(dbo.tb_Artikel_Bestellung.Menge * dbo.tb_Artikel.Kosten) AS SumKosten, 
                         dbo.tb_Bestellung.Datum
FROM            dbo.tb_Reservierung INNER JOIN
                         dbo.tb_Bestellung ON dbo.tb_Reservierung.ReservierenID = dbo.tb_Bestellung.ReservierenID INNER JOIN
                         dbo.tb_Artikel_Bestellung ON dbo.tb_Bestellung.BestellungID = dbo.tb_Artikel_Bestellung.BestellungID INNER JOIN
                         dbo.tb_Artikel ON dbo.tb_Artikel_Bestellung.ArtikelID = dbo.tb_Artikel.ArtikelID INNER JOIN
                         dbo.tb_Kunden ON dbo.tb_Reservierung.KundenID = dbo.tb_Kunden.KundenID
GROUP BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Bestellung.ReservierenID, dbo.tb_Bestellung.Datum, dbo.tb_Kunden.KundenNr
ORDER BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Bestellung.Datum DESC
GO
/****** Object:  Table [dbo].[tb_Zimmer]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Zimmer](
	[ZimmerID] [int] IDENTITY(1,1) NOT NULL,
	[ZimmerTypID] [int] NOT NULL,
	[ZimmerNr] [char](10) NOT NULL,
	[Detail] [nvarchar](50) NOT NULL,
	[IstVerfügbar] [bit] NOT NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_Zimmer] PRIMARY KEY CLUSTERED 
(
	[ZimmerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ab_reservierung_aktiv]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- alle derzeit aktive Reservierungen zeigen

CREATE   VIEW [dbo].[ab_reservierung_aktiv]
AS
SELECT DISTINCT 
                         TOP (100) PERCENT dbo.tb_Reservierung.Status, dbo.tb_Kunden.KundenNr, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Reservierung.AnzahlPerson, dbo.tb_Reservierung.AnzahlZimmer, 
                         dbo.tb_Reservierung.CheckIn, dbo.tb_Reservierung.CheckOut
FROM            dbo.tb_Reservierung INNER JOIN
                         dbo.tb_Kunden ON dbo.tb_Reservierung.KundenID = dbo.tb_Kunden.KundenID INNER JOIN
                         dbo.tb_ZimmerTyp ON dbo.tb_Reservierung.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID INNER JOIN
                         dbo.tb_Zimmer ON dbo.tb_ZimmerTyp.ZimmerTypID = dbo.tb_Zimmer.ZimmerTypID
WHERE        (dbo.tb_Reservierung.Status = N'aktuell')
ORDER BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Reservierung.AnzahlPerson DESC, dbo.tb_Reservierung.CheckIn DESC
GO
/****** Object:  View [dbo].[ab_kunden_anzahl_reservierungen]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Anzahl der Reservierungen pro Kunde anzeigen*/
CREATE   VIEW [dbo].[ab_kunden_anzahl_reservierungen]
AS
SELECT        TOP (100) PERCENT dbo.tb_Kunden.KundenNr, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, COUNT(dbo.tb_Reservierung.ReservierenID) AS Anzahl_Res
FROM            dbo.tb_Kunden INNER JOIN
                         dbo.tb_Reservierung ON dbo.tb_Kunden.KundenID = dbo.tb_Reservierung.KundenID
GROUP BY dbo.tb_Kunden.KundenNr, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname
ORDER BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname DESC
GO
/****** Object:  View [dbo].[ab_kunden_anzahl_res_pro_ZimmerTyp]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[ab_kunden_anzahl_res_pro_ZimmerTyp]
AS
SELECT        TOP (100) PERCENT dbo.tb_Kunden.KundenNr, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, COUNT(dbo.tb_Reservierung.ZimmerTypID) AS Anzahl_Res_ZimmerTyp, dbo.tb_ZimmerTyp.TypName
FROM            dbo.tb_Kunden INNER JOIN
                         dbo.tb_Reservierung ON dbo.tb_Kunden.KundenID = dbo.tb_Reservierung.KundenID INNER JOIN
                         dbo.tb_ZimmerTyp ON dbo.tb_Reservierung.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID
GROUP BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_ZimmerTyp.TypName, dbo.tb_Kunden.KundenNr
ORDER BY dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname
GO
/****** Object:  View [dbo].[ab_zimmer_istverfuegbar]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- prüfen, ob das Zimmer verfügbar ist (d.h. bereit für Reservierung: nicht unter Renovierung etc)

CREATE   VIEW [dbo].[ab_zimmer_istverfuegbar]
AS
SELECT        TOP (100) PERCENT dbo.tb_Zimmer.ZimmerID, dbo.tb_Zimmer.ZimmerNr, dbo.tb_ZimmerTyp.TypName, dbo.tb_Zimmer.IstVerfügbar
FROM            dbo.tb_Zimmer INNER JOIN
                         dbo.tb_ZimmerTyp ON dbo.tb_Zimmer.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID
WHERE        (dbo.tb_Zimmer.IstVerfügbar = 1)
ORDER BY dbo.tb_Zimmer.ZimmerNr
GO
/****** Object:  View [dbo].[ab_reservierungen_abgeschlossen]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Abgeschlossene Reservierungen zeigen

CREATE   VIEW [dbo].[ab_reservierungen_abgeschlossen]
AS
SELECT        TOP (100) PERCENT dbo.tb_Reservierung.ReservierenID, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Reservierung.CheckIn, dbo.tb_Reservierung.CheckOut, dbo.tb_Reservierung.AnzahlPerson, 
                         dbo.tb_Reservierung.AnzahlZimmer, dbo.tb_ZimmerTyp.TypName, dbo.tb_Reservierung.Status
FROM            dbo.tb_Reservierung INNER JOIN
                         dbo.tb_Kunden ON dbo.tb_Reservierung.KundenID = dbo.tb_Kunden.KundenID INNER JOIN
                         dbo.tb_ZimmerTyp ON dbo.tb_Reservierung.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID
WHERE        (dbo.tb_Reservierung.Status = N'Abgeschlossen')
ORDER BY dbo.tb_Reservierung.CheckIn, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname
GO
/****** Object:  Table [dbo].[tb_Personal]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Personal](
	[PersonalID] [int] IDENTITY(1,1) NOT NULL,
	[PersonalNr] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[Vorname] [nvarchar](50) NOT NULL,
	[Nachname] [nvarchar](50) NOT NULL,
	[Ort] [nvarchar](50) NULL,
	[PLZ] [char](5) NULL,
	[Land] [nvarchar](50) NULL,
	[Strasse] [nvarchar](50) NULL,
	[Hausnr] [nvarchar](10) NULL,
	[Telefone] [nvarchar](50) NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_Personal] PRIMARY KEY CLUSTERED 
(
	[PersonalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ab_reservierung_details]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- hiermit werden Details über jede Reservierung mitgeliefert: Name der Mitarbeiter, 
-- der diese Buchung genommen hat, Name der Kunde, alle Infos zur Buchung: Datum (Reservierung, Checkin, Checkout), Zimmernummern etc

CREATE   VIEW [dbo].[ab_reservierung_details]
AS
SELECT        dbo.tb_Reservierung.ReservierenID, dbo.tb_Personal.Nachname AS MA_NN, dbo.tb_Reservierung.Datum, dbo.tb_Kunden.Nachname AS Kunde_NN, dbo.tb_Reservierung.CheckIn, dbo.tb_Reservierung.CheckOut, 
                         dbo.tb_Reservierung.AnzahlPerson AS Anzahl_Gäste, dbo.tb_ZimmerTyp.TypName AS ZimmerTyp, dbo.tb_Zimmer.Detail, dbo.tb_Zimmer.ZimmerNr, dbo.tb_Zimmer.Kommentar
FROM            dbo.tb_Reservierung INNER JOIN
                         dbo.tb_Personal ON dbo.tb_Reservierung.PersonalID = dbo.tb_Personal.PersonalID INNER JOIN
                         dbo.tb_ZimmerTyp ON dbo.tb_Reservierung.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID INNER JOIN
                         dbo.tb_Zimmer ON dbo.tb_ZimmerTyp.ZimmerTypID = dbo.tb_Zimmer.ZimmerTypID INNER JOIN
                         dbo.tb_Kunden ON dbo.tb_Reservierung.KundenID = dbo.tb_Kunden.KundenID
GO
/****** Object:  View [dbo].[ab_reservierungen_allg_info]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Hiermit werden allgemeine Infos für Reservierungen gezeigt: Name der Mitarbeiter, 
-- Infos über den Kunde (Name, Adresse, Kontaktdaten), Reservierungsnummer, Anzahl der Zimmer 

CREATE   VIEW [dbo].[ab_reservierungen_allg_info]
AS
SELECT        TOP (100) PERCENT dbo.tb_Personal.PersonalID AS MA_ID, dbo.tb_Personal.Nachname AS MA_NN, dbo.tb_Reservierung.ReservierenID, dbo.tb_Reservierung.Datum AS reserviert_am, COUNT(dbo.tb_Zimmer.ZimmerID) 
                         AS Anzahl_Zimmer, dbo.tb_ZimmerTyp.TypName, dbo.tb_Kunden.KundenID, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Kunden.Ort, dbo.tb_Kunden.PLZ, dbo.tb_Kunden.Land, dbo.tb_Kunden.GebDat, 
                         dbo.tb_Kunden.Telefone
FROM            dbo.tb_Personal INNER JOIN
                         dbo.tb_Reservierung ON dbo.tb_Personal.PersonalID = dbo.tb_Reservierung.PersonalID INNER JOIN
                         dbo.tb_Kunden ON dbo.tb_Reservierung.KundenID = dbo.tb_Kunden.KundenID INNER JOIN
                         dbo.tb_Reservieren_Zimmer ON dbo.tb_Reservierung.ReservierenID = dbo.tb_Reservieren_Zimmer.ReservierenID INNER JOIN
                         dbo.tb_Zimmer ON dbo.tb_Reservieren_Zimmer.ZimmerID = dbo.tb_Zimmer.ZimmerID INNER JOIN
                         dbo.tb_ZimmerTyp ON dbo.tb_Reservierung.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID
GROUP BY dbo.tb_Personal.PersonalID, dbo.tb_Personal.Nachname, dbo.tb_Reservierung.Datum, dbo.tb_Kunden.KundenID, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Vorname, dbo.tb_Reservierung.ReservierenID, 
                         dbo.tb_ZimmerTyp.TypName, dbo.tb_Kunden.Ort, dbo.tb_Kunden.PLZ, dbo.tb_Kunden.Land, dbo.tb_Kunden.GebDat, dbo.tb_Kunden.Telefone
ORDER BY reserviert_am, dbo.tb_Kunden.Nachname
GO
/****** Object:  View [dbo].[ab_bilanz_kunde]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- hier wird ein Saldo (Differenz zwischen bezahlter un zu zahlender Summe) für jede Reservierung gezeigt

CREATE   VIEW [dbo].[ab_bilanz_kunde]
AS
SELECT        dbo.tb_Reservierung.ReservierenID, dbo.tb_Kunden.Vorname, dbo.tb_Kunden.Nachname, dbo.tb_Kunden.Land, dbo.tb_Kunden.Ort, dbo.tb_Kunden.PLZ, dbo.tb_Reservierung.AnzahlPerson, dbo.tb_Reservierung.AnzahlZimmer, 
                         dbo.tb_Reservierung.CheckIn, dbo.tb_Reservierung.CheckOut, dbo.tb_Personal.Vorname AS MA_Vorname, dbo.tb_Personal.Nachname AS MA_Nachname, dbo.sf_Saldo_Reservierung(dbo.tb_Reservierung.ReservierenID) 
                         AS Saldo
FROM            dbo.tb_Kunden INNER JOIN
                         dbo.tb_Reservierung ON dbo.tb_Kunden.KundenID = dbo.tb_Reservierung.KundenID INNER JOIN
                         dbo.tb_Personal ON dbo.tb_Reservierung.PersonalID = dbo.tb_Personal.PersonalID
GO
/****** Object:  UserDefinedFunction [dbo].[tf_All_free_rooms_ofType_von_bis_days]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     FUNCTION [dbo].[tf_All_free_rooms_ofType_von_bis_days]
(	
	@DatumVon datetime,
	@DatumBis datetime,	
	@Type NVARCHAR(50)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DISTINCT--TOP (100) PERCENT 
	--  dbo.tb_Reservierung.ReservierenID
	--, dbo.tb_Kunden.Vorname
	--, dbo.tb_Kunden.Nachname
	--, dbo.tb_Reservierung.CheckIn
	--, dbo.tb_Reservierung.CheckOut
	--, dbo.tb_ZimmerTyp.TypName
	--, dbo.tb_Zimmer.ZimmerNr
		dbo.tb_Zimmer.ZimmerID AS ZimmerID
		FROM        dbo.tb_Kunden INNER JOIN
					dbo.tb_Reservierung ON dbo.tb_Kunden.KundenID = dbo.tb_Reservierung.KundenID INNER JOIN
					dbo.tb_Reservieren_Zimmer ON dbo.tb_Reservierung.ReservierenID = dbo.tb_Reservieren_Zimmer.ReservierenID RIGHT JOIN
					dbo.tb_Zimmer ON dbo.tb_Reservieren_Zimmer.ZimmerID = dbo.tb_Zimmer.ZimmerID INNER JOIN
					dbo.tb_ZimmerTyp ON dbo.tb_Zimmer.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID LEFT JOIN
					dbo.tb_ZimmerTyp AS tb_ZimmerTyp_1 ON dbo.tb_Reservierung.ZimmerTypID = tb_ZimmerTyp_1.ZimmerTypID
		WHERE   ((dbo.tb_Reservierung.Datum IS NULL)
				--OR ((cast(dbo.tb_Reservierung.CheckIn AS DATE) NOT BETWEEN @DatumVon AND @DatumBis)
				--	AND (cast(dbo.tb_Reservierung.CheckOut AS DATE) NOT BETWEEN @DatumVon and @DatumBis)))
				OR ((dbo.tb_Reservierung.CheckIn NOT BETWEEN @DatumVon AND @DatumBis)
					AND (dbo.tb_Reservierung.CheckOut  NOT BETWEEN @DatumVon and @DatumBis)))
				AND (dbo.tb_Zimmer.IstVerfügbar <> 0) 
				AND (dbo.tb_ZimmerTyp.TypName = @Type)
		--ORDER BY dbo.tb_ZimmerTyp.TypName
)
GO
/****** Object:  View [dbo].[ab_kunden_alter]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Kunden Alter zeigen

CREATE   VIEW [dbo].[ab_kunden_alter]
AS
SELECT DISTINCT TOP(100)  
	--dbo.tb_Reservierung.ReservierenID, 
	--dbo.tb_ZimmerTyp.TypName AS [Zimmer Typ], 
	dbo.tb_Kunden.KundenNr,
	dbo.tb_Kunden.Nachname, 
	dbo.tb_Kunden.Vorname, 
	dbo.tb_Kunden.Gender, 
	dbo.tb_Kunden.Land, 
	dbo.tb_Kunden.GebDat, 
	dbo.sf_GetAge(dbo.tb_Kunden.GebDat) AS [Alter]
FROM        
	dbo.tb_Kunden INNER JOIN
    dbo.tb_Reservierung ON dbo.tb_Kunden.KundenID = dbo.tb_Reservierung.KundenID 
ORDER BY  KundenNr 
GO
/****** Object:  Table [dbo].[KundenLog]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KundenLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [char](1) NOT NULL,
	[EditOn] [datetime] NOT NULL,
	[EditUser] [nvarchar](100) NOT NULL,
	[KundenID] [int] NOT NULL,
	[KundenVorname] [nvarchar](50) NOT NULL,
	[KundenNachname] [nvarchar](50) NOT NULL,
	[KundenAusweisID] [nvarchar](50) NOT NULL,
	[KundenGender] [bit] NOT NULL,
	[Land] [nvarchar](50) NULL,
	[Telefone_Alte] [nvarchar](50) NULL,
	[KundenTelefone] [nvarchar](50) NOT NULL,
	[KundenEmail] [nvarchar](50) NOT NULL,
	[KundenGebDat] [date] NOT NULL,
 CONSTRAINT [PK__KundenLo__3214EC27E250B056] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservierungLog]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservierungLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [char](1) NOT NULL,
	[EditOn] [datetime] NOT NULL,
	[EditUser] [nvarchar](100) NOT NULL,
	[ReservierenID] [int] NOT NULL,
	[ZimmerTypID] [int] NOT NULL,
	[KundenID] [int] NOT NULL,
	[PersonalID] [int] NOT NULL,
	[ReDatum] [date] NOT NULL,
	[ReStatus] [nvarchar](50) NOT NULL,
	[ReBezahlungStatus_Alte] [bit] NULL,
	[ReBezahlungStatus] [bit] NULL,
	[AnzahlPerson_Alte] [smallint] NULL,
	[ReAnzahlPerson] [smallint] NOT NULL,
	[ReAnzahlZimmer] [smallint] NOT NULL,
	[ReCheckIn] [datetime] NOT NULL,
	[ReCheckOut] [datetime] NOT NULL,
 CONSTRAINT [PK__Reservie__3214EC27030CA234] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Position]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Position](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_tb_Position] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ReservierungLog] ON 

INSERT [dbo].[ReservierungLog] ([ID], [Mode], [EditOn], [EditUser], [ReservierenID], [ZimmerTypID], [KundenID], [PersonalID], [ReDatum], [ReStatus], [ReBezahlungStatus_Alte], [ReBezahlungStatus], [AnzahlPerson_Alte], [ReAnzahlPerson], [ReAnzahlZimmer], [ReCheckIn], [ReCheckOut]) VALUES (152, N'I', CAST(N'2023-03-23T14:30:47.547' AS DateTime), N'DESKTOP-J0U7NNS\peua018', 144, 1, 1, 1, CAST(N'2023-03-23' AS Date), N'aktuell', NULL, NULL, NULL, 1, 1, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-24T00:00:00.000' AS DateTime))
INSERT [dbo].[ReservierungLog] ([ID], [Mode], [EditOn], [EditUser], [ReservierenID], [ZimmerTypID], [KundenID], [PersonalID], [ReDatum], [ReStatus], [ReBezahlungStatus_Alte], [ReBezahlungStatus], [AnzahlPerson_Alte], [ReAnzahlPerson], [ReAnzahlZimmer], [ReCheckIn], [ReCheckOut]) VALUES (153, N'I', CAST(N'2023-03-23T14:30:47.557' AS DateTime), N'DESKTOP-J0U7NNS\peua018', 145, 1, 2, 2, CAST(N'2023-03-23' AS Date), N'aktuell', NULL, NULL, NULL, 1, 1, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-25T00:00:00.000' AS DateTime))
INSERT [dbo].[ReservierungLog] ([ID], [Mode], [EditOn], [EditUser], [ReservierenID], [ZimmerTypID], [KundenID], [PersonalID], [ReDatum], [ReStatus], [ReBezahlungStatus_Alte], [ReBezahlungStatus], [AnzahlPerson_Alte], [ReAnzahlPerson], [ReAnzahlZimmer], [ReCheckIn], [ReCheckOut]) VALUES (154, N'I', CAST(N'2023-03-23T14:30:47.560' AS DateTime), N'DESKTOP-J0U7NNS\peua018', 146, 2, 3, 3, CAST(N'2023-03-23' AS Date), N'aktuell', NULL, NULL, NULL, 1, 1, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ReservierungLog] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Artikel] ON 

INSERT [dbo].[tb_Artikel] ([ArtikelID], [ArtikelTyp], [Name], [Detail], [Kosten], [Kommentar]) VALUES (3, N'Snack     ', N'Pringle Chips', N'Potatoes Chips', 5.0000, NULL)
INSERT [dbo].[tb_Artikel] ([ArtikelID], [ArtikelTyp], [Name], [Detail], [Kosten], [Kommentar]) VALUES (4, N'Snack     ', N'Gumibärchen', N'Gumi', 3.0000, NULL)
INSERT [dbo].[tb_Artikel] ([ArtikelID], [ArtikelTyp], [Name], [Detail], [Kosten], [Kommentar]) VALUES (5, N'Getränk   ', N'Still Wasser', N'Wasser', 3.0000, NULL)
SET IDENTITY_INSERT [dbo].[tb_Artikel] OFF
GO
INSERT [dbo].[tb_Artikel_Bestellung] ([ArtikelID], [BestellungID], [Menge]) VALUES (6, 16, 2)
INSERT [dbo].[tb_Artikel_Bestellung] ([ArtikelID], [BestellungID], [Menge]) VALUES (8, 16, 1)
INSERT [dbo].[tb_Artikel_Bestellung] ([ArtikelID], [BestellungID], [Menge]) VALUES (10, 16, 1)
GO
SET IDENTITY_INSERT [dbo].[tb_Bestellung] ON 

INSERT [dbo].[tb_Bestellung] ([BestellungID], [ReservierenID], [Datum], [Kommentar]) VALUES (16, 144, CAST(N'2023-03-23' AS Date), N' ')
INSERT [dbo].[tb_Bestellung] ([BestellungID], [ReservierenID], [Datum], [Kommentar]) VALUES (17, 145, CAST(N'2023-03-23' AS Date), N' ')
SET IDENTITY_INSERT [dbo].[tb_Bestellung] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Kunden] ON 

INSERT [dbo].[tb_Kunden] ([KundenID], [KundenNr], [Vorname], [Nachname], [AusweisID], [Gender], [Ort], [PLZ], [Land], [Strasse], [Hausnr], [Telefone], [Email], [GebDat], [Kommentar]) VALUES (1, 1, N'Falk', N'Semler', N'T22000129', 0, N'Neu-Ulm', N'89231', N'Deutschland', N'Pfuhlwiese', N'4', N'01717247378', N'falk-semler@funmail.none', CAST(N'1977-01-21' AS Date), NULL)
INSERT [dbo].[tb_Kunden] ([KundenID], [KundenNr], [Vorname], [Nachname], [AusweisID], [Gender], [Ort], [PLZ], [Land], [Strasse], [Hausnr], [Telefone], [Email], [GebDat], [Kommentar]) VALUES (2, 2, N'Edith', N'Speiser', N'LVH093451', 1, N'Buxtehude', N'21614', N'Deutschland', N'Letmannsdyck', N'70', N'01787326971', N'edith.speiser@inter-mail.none', CAST(N'1956-07-04' AS Date), NULL)
INSERT [dbo].[tb_Kunden] ([KundenID], [KundenNr], [Vorname], [Nachname], [AusweisID], [Gender], [Ort], [PLZ], [Land], [Strasse], [Hausnr], [Telefone], [Email], [GebDat], [Kommentar]) VALUES (3, 3, N'Ira', N'Räsener', N'XX0923nH1', 1, N'Frestedt', N'25727', N'Deutschland', N'Im Größen Garten', N'113', N'176456987', N'ira-2017@company.none', CAST(N'1994-09-21' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[tb_Kunden] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Personal] ON 

INSERT [dbo].[tb_Personal] ([PersonalID], [PersonalNr], [PositionID], [Vorname], [Nachname], [Ort], [PLZ], [Land], [Strasse], [Hausnr], [Telefone], [Kommentar]) VALUES (1, 1, 1, N'Juli', N'Lehne', N'Greimerath', N'54214', N'Deutschland', N'Alte Kirchestrasse', N'70', N'01717247378', NULL)
INSERT [dbo].[tb_Personal] ([PersonalID], [PersonalNr], [PositionID], [Vorname], [Nachname], [Ort], [PLZ], [Land], [Strasse], [Hausnr], [Telefone], [Kommentar]) VALUES (2, 2, 1, N'Sven', N'Panis', N'Kaiserlautern', NULL, N'Deutschland', N'Broicherstrasse', N'16b', N'01687039419', NULL)
INSERT [dbo].[tb_Personal] ([PersonalID], [PersonalNr], [PositionID], [Vorname], [Nachname], [Ort], [PLZ], [Land], [Strasse], [Hausnr], [Telefone], [Kommentar]) VALUES (3, 3, 1, N'Alex', N'Kramer', N'Hamburg', NULL, N'Deutschland', N'Hamburgerstrasse', N'5', N'01763982769', NULL)
SET IDENTITY_INSERT [dbo].[tb_Personal] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Position] ON 

INSERT [dbo].[tb_Position] ([PositionID], [Position], [Kommentar]) VALUES (1, N'Rezeptionist', NULL)
INSERT [dbo].[tb_Position] ([PositionID], [Position], [Kommentar]) VALUES (2, N'Manager', NULL)
INSERT [dbo].[tb_Position] ([PositionID], [Position], [Kommentar]) VALUES (3, N'Zimmermädchen', NULL)
SET IDENTITY_INSERT [dbo].[tb_Position] OFF
GO
INSERT [dbo].[tb_Reservieren_Zimmer] ([ReservierenID], [ZimmerID]) VALUES (144, 1)
INSERT [dbo].[tb_Reservieren_Zimmer] ([ReservierenID], [ZimmerID]) VALUES (145, 2)
INSERT [dbo].[tb_Reservieren_Zimmer] ([ReservierenID], [ZimmerID]) VALUES (146, 4)
GO
SET IDENTITY_INSERT [dbo].[tb_Reservierung] ON 

INSERT [dbo].[tb_Reservierung] ([ReservierenID], [ZimmerTypID], [KundenID], [PersonalID], [Datum], [Status], [BezahlungStatus], [AnzahlPerson], [AnzahlZimmer], [CheckIn], [CheckOut], [Kommentar]) VALUES (144, 1, 1, 1, CAST(N'2023-03-23' AS Date), N'aktuell', 1, 1, 1, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-24T00:00:00.000' AS DateTime), N'vegan')
INSERT [dbo].[tb_Reservierung] ([ReservierenID], [ZimmerTypID], [KundenID], [PersonalID], [Datum], [Status], [BezahlungStatus], [AnzahlPerson], [AnzahlZimmer], [CheckIn], [CheckOut], [Kommentar]) VALUES (145, 1, 2, 2, CAST(N'2023-03-23' AS Date), N'aktuell', 1, 1, 1, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-25T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[tb_Reservierung] ([ReservierenID], [ZimmerTypID], [KundenID], [PersonalID], [Datum], [Status], [BezahlungStatus], [AnzahlPerson], [AnzahlZimmer], [CheckIn], [CheckOut], [Kommentar]) VALUES (146, 2, 3, 3, CAST(N'2023-03-23' AS Date), N'aktuell', 1, 1, 1, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-25T00:00:00.000' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[tb_Reservierung] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Zahlung] ON 

INSERT [dbo].[tb_Zahlung] ([ZahlungID], [ReservierenID], [Datum], [Betrag], [Kommentar]) VALUES (5, 144, CAST(N'2023-03-23' AS Date), 150.0000, NULL)
INSERT [dbo].[tb_Zahlung] ([ZahlungID], [ReservierenID], [Datum], [Betrag], [Kommentar]) VALUES (6, 144, CAST(N'2023-03-22' AS Date), 150.0000, N'Anzahlung')
INSERT [dbo].[tb_Zahlung] ([ZahlungID], [ReservierenID], [Datum], [Betrag], [Kommentar]) VALUES (7, 145, CAST(N'2023-03-22' AS Date), 400.0000, N'Anzahlung')
SET IDENTITY_INSERT [dbo].[tb_Zahlung] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Zimmer] ON 

INSERT [dbo].[tb_Zimmer] ([ZimmerID], [ZimmerTypID], [ZimmerNr], [Detail], [IstVerfügbar], [Kommentar]) VALUES (1, 1, N'110       ', N'Standard Einzelnzimmer', 1, NULL)
INSERT [dbo].[tb_Zimmer] ([ZimmerID], [ZimmerTypID], [ZimmerNr], [Detail], [IstVerfügbar], [Kommentar]) VALUES (2, 1, N'111       ', N'Standard Einzelnzimmer', 1, NULL)
INSERT [dbo].[tb_Zimmer] ([ZimmerID], [ZimmerTypID], [ZimmerNr], [Detail], [IstVerfügbar], [Kommentar]) VALUES (3, 1, N'112       ', N'Standard', 0, NULL)
SET IDENTITY_INSERT [dbo].[tb_Zimmer] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ZimmerTyp] ON 

INSERT [dbo].[tb_ZimmerTyp] ([ZimmerTypID], [TypName], [Kosten], [AnzahlPerson], [Kommentar]) VALUES (1, N'Einzel', 79, 1, NULL)
INSERT [dbo].[tb_ZimmerTyp] ([ZimmerTypID], [TypName], [Kosten], [AnzahlPerson], [Kommentar]) VALUES (2, N'Doppel', 99, 2, NULL)
INSERT [dbo].[tb_ZimmerTyp] ([ZimmerTypID], [TypName], [Kosten], [AnzahlPerson], [Kommentar]) VALUES (3, N'Familien', 129, 4, NULL)
SET IDENTITY_INSERT [dbo].[tb_ZimmerTyp] OFF
GO
ALTER TABLE [dbo].[KundenLog] ADD  CONSTRAINT [DF__KundenLog__EditO__7849DB76]  DEFAULT (getdate()) FOR [EditOn]
GO
ALTER TABLE [dbo].[KundenLog] ADD  CONSTRAINT [DF__KundenLog__EditU__793DFFAF]  DEFAULT (original_login()) FOR [EditUser]
GO
ALTER TABLE [dbo].[ReservierungLog] ADD  CONSTRAINT [DF__Reservier__EditO__7E02B4CC]  DEFAULT (getdate()) FOR [EditOn]
GO
ALTER TABLE [dbo].[ReservierungLog] ADD  CONSTRAINT [DF__Reservier__EditU__7EF6D905]  DEFAULT (original_login()) FOR [EditUser]
GO
ALTER TABLE [dbo].[tb_Artikel_Bestellung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Artikel_Bestellung_tb_Artikel] FOREIGN KEY([ArtikelID])
REFERENCES [dbo].[tb_Artikel] ([ArtikelID])
GO
ALTER TABLE [dbo].[tb_Artikel_Bestellung] CHECK CONSTRAINT [FK_tb_Artikel_Bestellung_tb_Artikel]
GO
ALTER TABLE [dbo].[tb_Artikel_Bestellung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Artikel_Bestellung_tb_Bestellung] FOREIGN KEY([BestellungID])
REFERENCES [dbo].[tb_Bestellung] ([BestellungID])
GO
ALTER TABLE [dbo].[tb_Artikel_Bestellung] CHECK CONSTRAINT [FK_tb_Artikel_Bestellung_tb_Bestellung]
GO
ALTER TABLE [dbo].[tb_Bestellung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Bestellung_tb_Reservierung] FOREIGN KEY([ReservierenID])
REFERENCES [dbo].[tb_Reservierung] ([ReservierenID])
GO
ALTER TABLE [dbo].[tb_Bestellung] CHECK CONSTRAINT [FK_tb_Bestellung_tb_Reservierung]
GO
ALTER TABLE [dbo].[tb_Personal]  WITH CHECK ADD  CONSTRAINT [FK_tb_Personal_tb_Position] FOREIGN KEY([PositionID])
REFERENCES [dbo].[tb_Position] ([PositionID])
GO
ALTER TABLE [dbo].[tb_Personal] CHECK CONSTRAINT [FK_tb_Personal_tb_Position]
GO
ALTER TABLE [dbo].[tb_Reservieren_Zimmer]  WITH CHECK ADD  CONSTRAINT [FK_tb_Reservieren_Zimmer_tb_Reservierung] FOREIGN KEY([ReservierenID])
REFERENCES [dbo].[tb_Reservierung] ([ReservierenID])
GO
ALTER TABLE [dbo].[tb_Reservieren_Zimmer] CHECK CONSTRAINT [FK_tb_Reservieren_Zimmer_tb_Reservierung]
GO
ALTER TABLE [dbo].[tb_Reservieren_Zimmer]  WITH CHECK ADD  CONSTRAINT [FK_tb_Reservieren_Zimmer_tb_Zimmer] FOREIGN KEY([ZimmerID])
REFERENCES [dbo].[tb_Zimmer] ([ZimmerID])
GO
ALTER TABLE [dbo].[tb_Reservieren_Zimmer] CHECK CONSTRAINT [FK_tb_Reservieren_Zimmer_tb_Zimmer]
GO
ALTER TABLE [dbo].[tb_Reservierung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Reservierung_tb_Kunden] FOREIGN KEY([KundenID])
REFERENCES [dbo].[tb_Kunden] ([KundenID])
GO
ALTER TABLE [dbo].[tb_Reservierung] CHECK CONSTRAINT [FK_tb_Reservierung_tb_Kunden]
GO
ALTER TABLE [dbo].[tb_Reservierung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Reservierung_tb_Personal] FOREIGN KEY([PersonalID])
REFERENCES [dbo].[tb_Personal] ([PersonalID])
GO
ALTER TABLE [dbo].[tb_Reservierung] CHECK CONSTRAINT [FK_tb_Reservierung_tb_Personal]
GO
ALTER TABLE [dbo].[tb_Reservierung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Reservierung_tb_ZimmerTyp] FOREIGN KEY([ZimmerTypID])
REFERENCES [dbo].[tb_ZimmerTyp] ([ZimmerTypID])
GO
ALTER TABLE [dbo].[tb_Reservierung] CHECK CONSTRAINT [FK_tb_Reservierung_tb_ZimmerTyp]
GO
ALTER TABLE [dbo].[tb_Zahlung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Zahlung_tb_Reservierung] FOREIGN KEY([ReservierenID])
REFERENCES [dbo].[tb_Reservierung] ([ReservierenID])
GO
ALTER TABLE [dbo].[tb_Zahlung] CHECK CONSTRAINT [FK_tb_Zahlung_tb_Reservierung]
GO
ALTER TABLE [dbo].[tb_Zimmer]  WITH CHECK ADD  CONSTRAINT [FK_tb_Zimmer_tb_ZimmerTyp] FOREIGN KEY([ZimmerTypID])
REFERENCES [dbo].[tb_ZimmerTyp] ([ZimmerTypID])
GO
ALTER TABLE [dbo].[tb_Zimmer] CHECK CONSTRAINT [FK_tb_Zimmer_tb_ZimmerTyp]
GO
ALTER TABLE [dbo].[tb_Artikel]  WITH CHECK ADD  CONSTRAINT [CK_tb_Artikel_Kosten] CHECK  (([Kosten]>(0)))
GO
ALTER TABLE [dbo].[tb_Artikel] CHECK CONSTRAINT [CK_tb_Artikel_Kosten]
GO
ALTER TABLE [dbo].[tb_Artikel_Bestellung]  WITH CHECK ADD  CONSTRAINT [CK_tb_Artikel_Bestellung_MinMenge] CHECK  (([Menge]>(0)))
GO
ALTER TABLE [dbo].[tb_Artikel_Bestellung] CHECK CONSTRAINT [CK_tb_Artikel_Bestellung_MinMenge]
GO
ALTER TABLE [dbo].[tb_Kunden]  WITH CHECK ADD  CONSTRAINT [CK_tb_Kunden_GebDat] CHECK  (([GebDat]<=getdate()))
GO
ALTER TABLE [dbo].[tb_Kunden] CHECK CONSTRAINT [CK_tb_Kunden_GebDat]
GO
ALTER TABLE [dbo].[tb_Reservierung]  WITH CHECK ADD  CONSTRAINT [CK_tb_Reservierung_CheckOut] CHECK  (([CheckOut]>=[CheckIn]))
GO
ALTER TABLE [dbo].[tb_Reservierung] CHECK CONSTRAINT [CK_tb_Reservierung_CheckOut]
GO
ALTER TABLE [dbo].[tb_Reservierung]  WITH CHECK ADD  CONSTRAINT [CK_tb_Reservierung_MinPerson] CHECK  (([AnzahlPerson]>=(1)))
GO
ALTER TABLE [dbo].[tb_Reservierung] CHECK CONSTRAINT [CK_tb_Reservierung_MinPerson]
GO
ALTER TABLE [dbo].[tb_Reservierung]  WITH CHECK ADD  CONSTRAINT [CK_tb_Reservierung_MinZimmer] CHECK  (([AnzahlZimmer]>=(1)))
GO
ALTER TABLE [dbo].[tb_Reservierung] CHECK CONSTRAINT [CK_tb_Reservierung_MinZimmer]
GO
ALTER TABLE [dbo].[tb_Zahlung]  WITH CHECK ADD  CONSTRAINT [CK_tb_Zahlung_Betrag] CHECK  (([Betrag]>(0)))
GO
ALTER TABLE [dbo].[tb_Zahlung] CHECK CONSTRAINT [CK_tb_Zahlung_Betrag]
GO
ALTER TABLE [dbo].[tb_ZimmerTyp]  WITH CHECK ADD  CONSTRAINT [CK_tb_ZimmerTyp_Kosten] CHECK  (([Kosten]>(0)))
GO
ALTER TABLE [dbo].[tb_ZimmerTyp] CHECK CONSTRAINT [CK_tb_ZimmerTyp_Kosten]
GO
ALTER TABLE [dbo].[tb_ZimmerTyp]  WITH CHECK ADD  CONSTRAINT [CK_tb_ZimmerTyp_MinPerson] CHECK  (([AnzahlPerson]>=(1)))
GO
ALTER TABLE [dbo].[tb_ZimmerTyp] CHECK CONSTRAINT [CK_tb_ZimmerTyp_MinPerson]
GO
/****** Object:  StoredProcedure [dbo].[sp_add_bestellung_fur_reservierungID]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[sp_add_bestellung_fur_reservierungID]
	@ReservierungID int,
	@Datum date,
	@Order NVARCHAR(50),     -- string of 1 or more combinations of artikelID und Menge, eg, zwei Bier = '6,2' 
							-- eg, zwei Bier und Bratwürst = '6,2,8,1' 
	@Kommentar NVARCHAR(50),
    --
	@Feedback nvarchar(MAX) OUTPUT,
	@Erfolg BIT OUTPUT
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY

		-- create temporary table to hold artikel und menge info
		CREATE TABLE #table_artikel_menge (
			column_list INT
		)
		INSERT INTO #table_artikel_menge (column_list)
		SELECT * FROM String_Split(@Order, ',');
		-- add column to easily select later!!
	     ALTER TABLE #table_artikel_menge ADD testcolumn int IDENTITY(1,1) not null;


		-- add new row in Bestellung:
		INSERT INTO [dbo].[tb_Bestellung]
			   (ReservierenID, Datum, Kommentar)
		VALUES (@ReservierungID, @Datum, @Kommentar);
	
		-- get latest Bestellung ID
					DECLARE @BestellungID INT = (
						SELECT TOP 1 BestellungID
						FROM tb_Bestellung
						ORDER BY BestellungID DESC
					)

		-- extract ArtikelID und Menge, and insert info		
		DECLARE @NumberOfRows INT = (
			SELECT COUNT(column_list)
			FROM #table_artikel_menge 
		)
		DECLARE @NumberOfArtikels INT
		SET @NumberOfArtikels = @NumberOfRows / 2

		-- loop uber jede artikel, und speicher info in tb_Artikel_Bestellung
		DECLARE @cnt INT = 1;
		WHILE @cnt < @NumberOfArtikels+1
			BEGIN
					-- get artikelID und MENGE  
					DECLARE @ArtikelID INT = (
						SELECT column_list FROM #table_artikel_menge
					    WHERE testcolumn = (@cnt*2)-1
					) 

					DECLARE @Menge INT = (
						SELECT column_list FROM #table_artikel_menge
						WHERE testcolumn = (@cnt*2)
					) 

					-- speicher info
					INSERT INTO [dbo].[tb_Artikel_Bestellung]
						([ArtikelID],[BestellungID],[Menge])
					VALUES (@ArtikelID, @BestellungID, @Menge);
	
			SET @cnt = @cnt + 1;
		END;
		
		SET @Erfolg = 1;
		SET @Feedback = 'Bestellung erfolgreich!';
	
	END TRY
	BEGIN CATCH	
		SET @Feedback = ERROR_MESSAGE() + CHAR(10)-- Zeilenumbruch
						+ 'Fehler Nr. ' + CONVERT(varchar, ERROR_NUMBER()) + CHAR(10)
						+ 'Prozedur: '  + ERROR_PROCEDURE() + CHAR(10)
						+ 'Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());	
		SET @Erfolg = 0;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddKunden]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Thao Nguyen>
-- Create date: <21.03.2023>
-- Description:	<Add Kunden>
-- =============================================
CREATE    PROCEDURE [dbo].[sp_AddKunden]
	@Vorname NVARCHAR(50),
	@Nachname NVARCHAR(50),
	@AusweisID NVARCHAR(50),
	@Gender bit,
	@Ort	NVARCHAR(50),
	@PLZ	CHAR(5),
	@Land	NVARCHAR(50),
	@Strasse	NVARCHAR(50),
	@Hausnr		NVARCHAR(50),
	@Telefone	NVARCHAR(50),
	@Email	NVARCHAR(50),
	@GebDat	DATE,
	@Kommentar nvarchar(MAX),
	-----
	@Erfolg bit OUTPUT, -- geklappt oder nicht
	@Feedback VARCHAR(MAX) OUTPUT -- Fehlermeldungen etc.
AS
BEGIN	
	SET NOCOUNT ON;	
	DECLARE @CheckResult AS INT
	DECLARE @msg AS NVARCHAR(MAX)
	DECLARE @KundenNr int = (
		SELECT MAX(KundenNR) +1
		FROM [dbo].[tb_Kunden]
	) 

	IF @KundenNr is NULL
		SET @KundenNr = 1

	BEGIN TRY
		-- @ProjektID existiert und ist nicht abgeschlossen
		SET @CheckResult = [dbo].[sf_IstKundenExistiert](@Vorname, @Nachname, @AusweisID, @GebDat)
		
		IF @CheckResult = 0
			BEGIN
				INSERT INTO dbo.tb_Kunden 
				VALUES(@KundenNr, @Vorname, @Nachname, @AusweisID, @Gender, @Ort, @PLZ, @Land, @Strasse, @Hausnr, @Telefone, @Email, @GebDat, @Kommentar)			
				SET @Erfolg = 0;
				SET @Feedback = 'Kunde neu angelegt!';
			END
		
		IF @CheckResult = 1
			BEGIN
				set @msg = 'Kunden existiert, bitte KundenID suchen!';
				THROW 50001, @msg , 1;
			END
	END TRY 
	BEGIN CATCH
		SET @Erfolg = 1; -- nicht geklappt--
		SET @Feedback = ERROR_MESSAGE()
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup_HotelReservierung_mit_NeueOrdner]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Thao Nguyen>
-- Create date: <22.03.2023>
-- Description:	<BACKUP ALLDB HotelReservierung>
-- =============================================
CREATE    PROCEDURE [dbo].[sp_Backup_HotelReservierung_mit_NeueOrdner]
	 @path nvarchar(256),  -- path for backup files
	 ------------------
	 @Erfolg bit OUTPUT, -- geklappt oder nicht
	 @Feedback VARCHAR(MAX) OUTPUT -- Fehlermeldungen etc.
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    
	DECLARE @dbname NVARCHAR(MAX); -- database name
	DECLARE @backupFile NVARCHAR(MAX); -- file name
	--DECLARE @fullDBBackupName NVARCHAR(MAX);
	------------------------------------------------------
	BEGIN TRY	
			
		DECLARE @t TABLE (FileExists int, FileIsDir int, ParentDirExists int);
		INSERT INTO @t EXEC master.dbo.xp_fileexist @path; -- Ordner prüfen
	
		IF (SELECT FileExists FROM @t) = 1 --Pfad ist Datei
		BEGIN 
			-- TODO: testen letzte position = '\'
			-- Abbrechen, Fehlermeldung
			PRINT 'Pfad ist eine Datei';
			THROW 50100, 'Pfad ist eine Datei', 1 -- TODO Fehlermeldung verbessern
		END	
		-- Ordner existiert nicht und ist keine Datei
		IF (SELECT FileIsDir FROM @t) = 0  AND (SELECT FileExists FROM @t) = 0 
		BEGIN		
			-- testen ob die Festplatte existiert
			DECLARE @driveTable TABLE (DRIVE char, MBfrei int);
			INSERT INTO @driveTable EXEC master.sys.xp_fixeddrives; 
			-- nur die Festplatten, ohne USB 

			DECLARE @Drive char = LEFT(@path, 1);
			IF @Drive NOT IN (SELECT DRIVE FROM @driveTable) 
			-- die Festplatte existiert nicht
			BEGIN
				DECLARE @msg nvarchar (50);
				SET @msg = 'Festplate '  + @Drive + ' existiert nicht';
				THROW 50101, @msg, 1; 
			END -- die Festplatte existiert nicht
		
			---- Ordner erstellen, wenn nicht existiert 	
			EXEC master.dbo.xp_create_subdir @path -- Ordner erstellen
    	END --  Ordner existiert nicht und ist keine Datei
		-- TODO: Zugriffsrechte überprüfen
		-- TODO: Freie Platz überprüfen
		SET @backupFile = @path + [dbo].[sf_Zeitstempel]() +'HotelReservierung-' +  '.bak';
   
		BACKUP DATABASE [HotelReservierung] TO DISK = @backupFile
		--SET @backupFile = @dbname + '-' +  [dbo].[sf_Zeitstempel]()  + '.bak'	
		-----------------------------------------------
		SET @Erfolg = 1;
		SET @Feedback = 'Alles OK!';
	END TRY
	BEGIN CATCH
		SET @Erfolg = 0; -- nicht geklappt--
		-- 	@Feedback text OUTPUT --Fehlermeldungen etc.
		SET @Feedback = 
			ERROR_MESSAGE() + ' Fehler Nr. ' + CONVERT(varchar, ERROR_NUMBER())
							+ ' Prozedur: '  + ERROR_PROCEDURE()
							+ ' Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());
	END CATCH;  			
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup_HotelReservierung_mit_Zeitstempel_und_Param_OutputUndFehlermeldung]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Thao Nguyen>
-- Create date: <22.03.2023>
-- Description:	<Backup Hotel Reservierung mit Zeitstempel und Param_OutputUndFehlermeldung>
-- =============================================
CREATE    PROCEDURE [dbo].[sp_Backup_HotelReservierung_mit_Zeitstempel_und_Param_OutputUndFehlermeldung]
	@Pfad nvarchar(MAX),	-- Parameter 1,--@Pfad soll so aussehen: 'C:\SQL-Kurs\99-HotelReservierung\Backup' 
	@Feedback nvarchar(MAX) OUTPUT -- Parameter 2
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
	
		DECLARE @backupFile NVARCHAR(MAX); -- file name
		SET @backupFile = @Pfad + 
						  'HotelReservierung-' + [dbo].[sf_Zeitstempel]() + '.bak';
   
		BACKUP DATABASE [HotelReservierung] TO DISK = @backupFile;
		SET @Feedback = CHAR(10) + 'Alles OK!';
	END TRY
	BEGIN CATCH	
		
		SET @Feedback = ERROR_MESSAGE() + CHAR(10)-- Zeilenumbruch
						+ 'Fehler Nr. ' + CONVERT(varchar, ERROR_NUMBER()) + CHAR(10)
						+ 'Prozedur: '  + ERROR_PROCEDURE() + CHAR(10)
						+ 'Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());	

	END CATCH
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_reservierung_bestandskunde]    Script Date: 23.03.2023 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[sp_reservierung_bestandskunde] 
	@KundenNr int,
	@CheckIn datetime,
	@CheckOut datetime,
	@AnzahlZimmer smallint,
	@AnzahlPerson smallint,
	@PersonalNr int,
	@TypName NVARCHAR(50),
	@Kommentar NVARCHAR(50),
	@Feedback nvarchar(MAX) OUTPUT,
	@Erfolg BIT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		DECLARE @CheckKunde BIT;
		DECLARE @CheckZimmer BIT;
		DECLARE @msg AS nvarchar(MAX);

		DECLARE @KundenID int = (
			SELECT KundenID
			FROM
				[dbo].[tb_Kunden]
			WHERE [dbo].[tb_Kunden].[KundenNr] = @KundenNr
		
		)  ; 

		DECLARE @ZimmerTypID int = (
			SELECT DISTINCT [ZimmerTypID]
			FROM [dbo].[tb_ZimmerTyp]
			WHERE [TypName] = @TypName
		)

		IF @KundenID is NULL --Kunde existiert nicht
			THROW 50001, 'Kunde existiert nicht, bitte neue Kunde_in anlegen!', 1;

		SET @CheckZimmer = [dbo].[sf_Check_Anzahl_Zimmer](
													@AnzahlPerson,
													@AnzahlZimmer,
													@ZimmerTypID
												);
		
		IF @CheckZimmer = 0 -- zu Viele Personen
			BEGIN
				SET @msg = 'Zuviele Personen für die Anzahl der Zimmer vom Typ ' + @TypName + '!';
				THROW 50002, @msg , 1;
			END

		SET @CheckZimmer = [dbo].[sf_Check_Zimmer_frei](
													@CheckIn,
													@CheckOut,
													@AnzahlZimmer,
													@TypName
												);
		
		IF @CheckZimmer = 0 -- nicht genug Zimmer frei
			BEGIN
				SET @msg = 'Nicht genug Zimmer vom Typ ' + @TypName + 'frei!';
				THROW 50003, @msg , 1;
			END
		--DECLARE @i int = 0
		--WHILE @i < 300 
		--BEGIN
		--	SET @i = @i + 1
		--	/* your code*/
		--END
		DECLARE @status NVARCHAR(20) = [dbo].[sf_reservierungs_status](
																	@CheckIn,
																	@CheckOut
																	)
		

		--DECLARE @KundenID int = (
		--	SELECT DISTINCT [KundenID]
		--	FROM [dbo].[tb_Kunden]
		--	WHERE [KundenID] = @KundenNr
		--)

		DECLARE @PersonalID int = (
			SELECT DISTINCT PersonalID
			FROM [dbo].[tb_Personal]
			WHERE [dbo].[tb_Personal].[PersonalNr] = @PersonalNr
		)

		INSERT INTO [dbo].[tb_Reservierung] 
			   (ZimmerTypID, KundenID, PersonalID,  Datum,  
			   Status, AnzahlPerson, AnzahlZimmer, CheckIn, CheckOut, Kommentar)
		VALUES (@ZimmerTypID, @KundenID, @PersonalID,  CURRENT_TIMESTAMP,  
			   @status, @AnzahlPerson, @AnzahlZimmer, @CheckIn, @CheckOut, @Kommentar);		
	
		SET @Erfolg = 1;
		
		SET @Feedback = 'Reservierung erfolgreich!';

	END TRY
	BEGIN CATCH	
		SET @Feedback = ERROR_MESSAGE() + CHAR(10)-- Zeilenumbruch
						+ 'Fehler Nr. ' + CONVERT(varchar, ERROR_NUMBER()) + CHAR(10)
						+ 'Prozedur: '  + ERROR_PROCEDURE() + CHAR(10)
						+ 'Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());	
		SET @Erfolg = 0;
	END CATCH
	


END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[33] 4[19] 2[29] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tb_Zahlung"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Reservierung"
            Begin Extent = 
               Top = 116
               Left = 355
               Bottom = 246
               Right = 531
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Kunden"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "tb_ZimmerTyp"
            Begin Extent = 
               Top = 129
               Left = 583
               Bottom = 259
               Right = 753
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Reservieren_Zimmer"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 366
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5235
         Alias = 1710
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ab_zahlung_reservierung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'      Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ab_zahlung_reservierung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ab_zahlung_reservierung'
GO
